<head>
    <link rel="stylesheet" type="text/css" href="static/hindcss.css" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>`
    <script>
        function make_row(row){
            //order doesn't matter here, put them wherever you want
            $button = $('<button/>').text('x').click(
                function() {
                    $.get('/suites/'+row.id+'/delete/')
                    update()
                }
            ).attr("class", "deleteb")
            $name = $('<a/>').attr('href', '/suites/'+row.id).text(row.name).attr("class", "suitename")
			$lastRan = $('<div/>').text("Last Ran: " + row.last_ran).attr("id", "lastran")
            $browser = $('<div/>').text(row.browser).attr("class", "linline")
            $dims = $('<div/>').text(row.width+'x'+row.height).attr("class", "rinline")
            $description = $('<div/>').text("Description: " + row.description)
            $testCount = $('<div/>').text('Test Count: ' + row.test_count).attr("class", "linline")
            $failCount = $('<div/>').text('Fail Count: ' + 0).attr("class", "rinline")

            //move these around to put things where you like them
            $row = $('<div/>').attr('class', 'suite'); 
            $top = $('<div/>').html($name)
            $top.append($button)
            $row.append($top)
			$row.append($lastRan)
            $settings = $('<div/>')
            $settings.append($browser)
            $settings.append($dims)
            $row.append($settings)
			$row.append($testCount)
            $row.append($failCount)
            $row.append($description)

            return $row
        }

        function make_divs(data) {
            $table = $('<div>').attr("id", "suites")
            data.forEach(function(row) {
                $table.append(make_row(row))
            })
            return $table
        }

        function make_select(data) {
            $select = $('<select/>').attr('id', 'suite_select').attr('name', 'suite')
            $select.append($('<option\>').attr('value', 0).text("Suite Name"))
            data.forEach(function(row) {
                $select.append($('<option\>').attr('value', row.id).text(row.name))
            })
            return $select
        }

        function update() {
            $.get("/data/", function(data) {
                $('#suites').replaceWith(make_divs(data));
                $('#suite_select').replaceWith(make_select(data));
            })
            setTimeout(update, 30000)
        }

        update()
    </script>
</head>

<body>
	<div id="header">
		<p id="name"><a href="/">H i n d S i t e</a></p>
		<ul id="nav1">
			<li><a href="/">Suites</a></li>
			<li ><a href="placeholder/IHaventMadeThisPage.html">About</a></li>
		</ul>
		<center><img src="static/images/logobase.png" id="logo" /></center>
	</div>
    <div id="main">
        <a href='/suites/add' id="newsuite">New Suite</a><p>
            <center>
                <div id="suites">
                </div>
            </center>
        <p id="copys">Copy Suite</p>
        <form method=post enctype=multipart/form-data action=/suites/copy/>
            <select id="suite_select" name="suite"> </select>
            <input type=submit value=Copy>
        </form>
    </div>
	<footer>
		<p id="copyright">HindSite © Nate Falke, 2017</p>
	</footer>
</body>
