<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>`
    <script>
        function make_row(row){
            $row = $('<tr/>');
            $row.append($('<td/>').html($('<a/>').attr('href', '/suites/'+row.id).text(row.name)))
            $row.append($('<td/>').text(row.browser))
            $row.append($('<td/>').text(row.width+'x'+row.height))
            $row.append($('<td/>').text(row.last_ran))
            $row.append($('<td/>').text(row.description))
            $row.append($('<td/>').text(row.test_count))
            $row.append($('<td/>').text(0))
            $row.append($('<td/>').append(
                $('<button/>').text('x').click(
                    function() {
                        $.get('/suites/'+row.id+'/delete/')
                        update()
                    }
                )
            ))
            return $row
        }

        function make_table(data) {
            $table = $('<tbody>').attr("id", "suites")
            data.forEach(function(row) {
                $table.append(make_row(row))
            })
            return $table
        }

        function make_select(data) {
            $select = $('<select/>').attr('id', 'suite_select').attr('name', 'suite')
            $select.append($('<option\>').attr('value', 0).text("Suite Name"))
            data.forEach(function(row) {
                $select.append($('<option\>').attr('value', row.id).text(row.name))
            })
            return $select
        }

        function update() {
            $.get("/data/", function(data) {
                $('#suites').replaceWith(make_table(data));
                $('#suite_select').replaceWith(make_select(data));
            })
            setTimeout(update, 30000)
        }

        update()
    </script>
</head>

<body bgcolor="#D0D0D0">
    <center>
        <a href='/suites/add'>New Suite</a><p>
        <table border="1">
            <thead>
                <tr>
                    <td>Suite</td>
                    <td>Browser</td>
                    <td>Screen Size</td>
                    <td>Last ran</td>
                    <td>Description</td>
                    <td>Tests</td>
                    <td>Failing</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody id="suites"> </tbody>
        </table>

        <h3>Copy Suite</h3>
        <form method=post enctype=multipart/form-data action=/suites/copy/>
            <select id="suite_select" name="suite"> </select>
            <input type=submit value=Copy>
        </form>
    </center>
</body>
