<body bgcolor="#D0D0D0">
    <center>
        <a href='/suites/add'>New Suite</a><p>
        <table border="1">
            <thead>
                <tr>
                    <td>Suite</td>
                    <td>Last ran</td>
                    <td>Description</td>
                    <td>Tests</td>
                    <td>Failing</td>
                </tr>
            </thead>
            <tbody>
                {% for suitename, suiteid in suites %}
                    <tr>
                        <td><a href='/suites/{{suiteid}}'>{{ suitename }}</a></td>
                        <td>{{ lastran }}</td>
                        <td>{{ description }}</td>
                        <td>{{ tests }}</td>
                        <td>{{ failing }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
