<head>
    <link rel="stylesheet" type="text/css" href="/static/run.css">
    <script>
        function submitForm(suiteid, testid, runid, screenshot_name) {
            var http = new XMLHttpRequest();
            http.open(
                "GET",
                "/suites/" + suiteid +
                "/tests/" + testid +
                "/runs/" + runid +
                "/baseline/" + screenshot_name,
                true);
            http.send( null )
        }
    </script>
</head>

<body bgcolor="#D0D0D0">
    <center>
        <div class=thumbnail-container>
           <img id=vid src="/static/{{test_id}}/{{run_id}}/video.png">
        </div>
        <table border="1">
            <thead>
                <tr>
                    <td>Action</td>
                    <td>Arguments</td>
                    <td>Screenshot</td>
                    <td>Screenshot Diff</td>
                    <td>Screenshot Passed</td>
                </tr>
            </thead>
            <tbody>
                {% for action, args, passed, take_screenshot,
                       screenshot_percentage, screenshot_passed, screenshot_name in steps %}
                    <tr>
                        <td>{{ action }}</td>
                        <td>{{ args }}</td>
                        <td>
                            {% if take_screenshot %}
                                <div class=screenshot-container>
                                   <img class=screenshot src="/static/{{test_id}}/{{run_id}}/{{screenshot_name}}.png">
                                </div>
                                
                                {% if screenshot_percentage >= 0 %}
                                    {{screenshot_percentage}}
                                {% else %}
                                    no baseline available
                                {% endif %}
                                <input type="button", value='accept as baseline' onclick="submitForm(
                                    '{{suite_id}}',
                                    '{{test_id}}',
                                    '{{run_id}}',
                                    '{{screenshot_name}}'
                                )">
                            {% endif %}
                        </td>
                        <td>
                            {% if take_screenshot %}
                                {% if screenshot_percentage >= 0 %}
                                <div class=screenshot-container>
                                   <img class=screenshot src="/static/{{test_id}}/{{run_id}}/diff_{{screenshot_name}}.png">
                                </div>
                                {% else %}
                                    no baseline available
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ screenshot_passed }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
    <div id="modal" class="modal">
      <img class="modal-content" id="modal-img">
    </div>
    <div id="video-modal" class="video-modal">
        <span class="close">&times;</span>
        <video class="modal-content" controls="controls">
            <source src="/static/{{test_id}}/{{run_id}}/video.mp4" type="video/mp4">
        </video>
    </div>
    <script src="/static/run.js"></script>
</body>
