<head>
    <link rel="stylesheet" type="text/css" href="/static/run.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>`
    <script>
        PATH='/static/files/{{test_id}}/{{run_id}}/'
        function make_step_row(row){
            $row = $('<tr/>');
            $row.append($('<td/>').text(row.action))
            $row.append($('<td/>').text(row.arguments))
            $screenshot = $('<td/>')
            $diff = $('<td/>')
            if (row.screenshot_name) {
                $screenshot = $screenshot
                    .html(
                        $('<div/>')
                        .attr('class', 'screenshot-container')
                        .html(
                            $('<img/>')
                            .attr('src',PATH+row.screenshot_name+'.png')
                            .attr('class', 'screenshot')
                            .click(function(){
                                modal.style.display = "block";
                                modalImg.src = this.src;
                            })
                        )
                    ).append(
                        $('<input/>')
                            .attr('type', 'button')
                            .attr('value', 'Accept as baseline')
                            .click(function(){
                                $.get(
                                    '/suites/{{suite_id}}' + 
                                    '/tests/{{test_id}}' +
                                    '/runs/{{run_id}}/baseline/'+row.screenshot_name
                                )
                            })
                    )
                if (row.screenshot_percentage >= 0){
                    $diff = $diff.html(
                        $('<div/>')
                        .attr('class', 'screenshot-container')
                        .html(
                            $('<img/>')
                            .attr('src',PATH+'diff_'+row.screenshot_name+'.png')
                            .attr('class', 'screenshot')
                            .click(function(){
                                modal.style.display = "block";
                                modalImg.src = this.src;
                            })
                        )
                    )
                } else {
                    $diff = $diff.html($('<span/>').text('no baseline available'))
                }
            }
            $row.append($screenshot)
            $row.append($diff)
            return $row
        }

        function make_run_row(row){
            $row = $('<tr/>');
            $row.append($('<td/>').html($('<a/>')
                .attr('href', '/suites/{{suite_id}}/tests/{{test_id}}/runs/'+row.id)
                .text(row.start)))
            $row.append($('<td/>').text(row.end))
            $row.append($('<td/>').text(row.passed))
            $row.append($('<td/>').text(row.screenshot_passed))
            return $row
        }

        function make_table(data, id, make_row) {
            $table = $('<tbody>').attr("id", id)
            data.forEach(function(row) {
                $table.append(make_row(row))
            })
            return $table
        }

        function update() {
            $.get("/suites/{{suite_id}}/tests/{{test_id}}/runs/{{run_id}}/data/", function(data) {
                $('#steps').replaceWith(make_table(data.steps, "steps", make_step_row));
            })
            setTimeout(update, 30000)
        }
        update()
    </script>
</head>

<body bgcolor="#D0D0D0">
    <center>
        <div class=thumbnail-container>
           <img id=vid src="/static/files/{{test_id}}/{{run_id}}/video.png">
        </div>
        <table border="1">
            <thead>
                <tr>
                    <td>Action</td>
                    <td>Arguments</td>
                    <td>Screenshot</td>
                    <td>Screenshot Diff</td>
                </tr>
            </thead>
            <tbody id="steps"></tbody>
        </table>
    </center>
    <div id="modal" class="modal">
      <img class="modal-content" id="modal-img">
    </div>
    <div id="video-modal" class="video-modal">
        <span class="close">&times;</span>
        <video class="modal-content" controls="controls">
            <source src="/static/files/{{test_id}}/{{run_id}}/video.mp4" type="video/mp4">
        </video>
    </div>
    <script src="/static/run.js"></script>
</body>
