<head>
    <link rel="stylesheet" type="text/css" href="/static/run.css">
    <script src="/static/common.js"></script>
    <script>

        var http = new XMLHttpRequest();
        http.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var table_json = JSON.parse(this.responseText);
                retVal = []
                for (var i = 0; i < table_json.length; i++) {
                    row = table_json[i]
                    var action = build_span(row[0]);
                    var args = build_span(row[1]);
                    var screenshot = build_span('');
                    var diff_screenshot = build_span('');
                    if (row[6]) {
                        screenshot = document.createElement("div");
                        var screenshot_image = build_image({{test_id}}, {{run_id}}, row[6]);
                        var accept_button = build_button("Accept as Baseline",
                        "\"sendRequest('/suites/{{suite_id}}" + "/tests/{{test_id}}" + 
                        "/runs/{{run_id}}" + "/baseline/'" + row[6] + ")\""
                        );
                        screenshot.append(screenshot_image);
                        screenshot.append(accept_button);
                        
                        diff_screenshot = build_span('No baseline Available');
                        if (row[4] >= 0) {
                            diff_screenshot = document.createElement("div");
                            diff_screenshot_image = build_image({{test_id}}, {{run_id}}, "diff_"+row[6])
                            diff_screenshot.append(diff_screenshot_image);
                            diff_screenshot.append(build_span("Difference: "+ row[4]*100 + '%'));
                        }
                    }
                    var screenshot_passed = build_span(row[5])
                    modified = [action, args, screenshot, diff_screenshot, screenshot_passed]
                    retVal.push(modified)
                }
                updateTable('steps', retVal);
            }
        };
        var url = "/suites/{{suite_id}}/tests/{{test_id}}/runs/{{run_id}}/data/";
        update(url);
    </script>
</head>

<body bgcolor="#D0D0D0">
    <center>
        <div class=thumbnail-container>
           <img id=vid src="/static/{{test_id}}/{{run_id}}/video.png">
        </div>
        <table border="1">
            <thead>
                <tr>
                    <td>Action</td>
                    <td>Arguments</td>
                    <td>Screenshot</td>
                    <td>Screenshot Diff</td>
                    <td>Screenshot Passed</td>
                </tr>
            </thead>
            <tbody id="steps"></tbody>
        </table>
    </center>
    <div id="modal" class="modal">
      <img class="modal-content" id="modal-img">
    </div>
    <div id="video-modal" class="video-modal">
        <span class="close">&times;</span>
        <video class="modal-content" controls="controls">
            <source src="/static/{{test_id}}/{{run_id}}/video.mp4" type="video/mp4">
        </video>
    </div>
    <script src="/static/run.js"></script>
</body>
