<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>`
    <script>
        function make_test_row(row){
            $row = $('<tr/>');
            $row.append($('<td/>').html($('<a/>').attr('href', '/suites/{{suite_id}}/tests/'+row.id).text(row.name)))
            $row.append($('<td/>').text(row.passed))
            $row.append($('<td/>').text(row.screenshot_passed))
            $row.append($('<td/>').text(row.last_ran))
            $row.append($('<td/>').append(
                $('<button/>').text('x').click(
                    function() {
                        $.get('/suites/{{suite_id}}/tests/'+row.id+'/delete/')
                        update()
                    }
                )
            ))
            return $row
        }

        function make_table(data, id, make_row) {
            $table = $('<tbody>').attr("id", id)
            data.forEach(function(row) {
                $table.append(make_row(row))
            })
            return $table
        }

        function make_select(data, select_id, select_name, default_option) {
            $select = $('<select/>').attr('id', select_id).attr('name', select_name)
            $select.append($('<option\>').attr('value', 0).text(default_option))
            data.forEach(function(row) {
                $select.append($('<option\>').attr('value', row.id).text(row.name))
            })
            return $select
        }

        function update() {
            $.get("/suites/{{suite_id}}/data/", function(data) {
                $('#tests').replaceWith(make_table(data, "tests", make_test_row));
            })
            $.get("/suites/{{suite_id}}/copy/data/", function(data) {
                console.log(data)
                $('#test_to_copy').replaceWith(make_select(data.tests, "test_to_copy", "test", "Test Name"));
                $('#suite_to_copy_to').replaceWith(make_select(data.suites, "suite_to_copy_to", "suite", "Suite Name"));
            })
            setTimeout(update, 30000)
        }

        update()
    </script>
</head>

<body bgcolor="#D0D0D0">
    <center>
        <a href='/suites/{{suite_id}}/tests/add'>New Test</a><br>
        <a href='/suites/{{suite_id}}/edit'>Edit Suite</a><br>
        {% if tests %}
            <input type="button" value='run suite'
             onclick="$.get('/suites/{{suite_id}}/run/')">
            <br>
        {% endif %}
        <table border="1">
            <thead>
                <tr>
                    <td>tests</td>
                    <td>passed</td>
                    <td>screenshot passed</td>
                    <td>last ran</td>
                    <td>delete</td>
                </tr>
            </thead>
            <tbody id='tests'></tbody>
        </table>

        <h3>Copy Test</h3>
        <form method=post enctype=multipart/form-data action=/suites/{{suite_id}}/tests/copy/>
            <select name="test" id="test_to_copy">
                <option value=0>Test Name</option>
            </select>
            <select name="suite" id="suite_to_copy_to">
                <option value=0>Suite Name</option>
                {% for suite_name, suite_id, description, browser, width, height in suites %}
                    <option value="{{suite_id}}">{{suite_name}}</option>
                {% endfor %}
            </select>
            <input type=submit value=Copy>
        </form>
    </center>
</body>
