<head>
    <script src="/static/common.js"></script>
    <script>
        var http = new XMLHttpRequest();
        http.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var table_json = JSON.parse(this.responseText);
                retVal = []
                for (var i = 0; i < table_json.length; i++) {
                    row = table_json[i]
                    var test_name = build_link("/suites/{{suite_id}}/tests/" + row[1], row[0]);
                    var test_passed = build_span(row[2]);
                    if (row[2] === '') {
                        test_passed = build_span("pending...");
                    }
                    var screenshot_passed = build_span(row[3]);
                    if (row[3] === '') {
                        screenshot_passed = build_span("pending...");
                    }
                    var last_ran = build_span(row[4]);
                    var delete_button = build_button("x", 
                        "sendRequest('/suites/{{suite_id}}/tests/" + row[1] + "/delete/')"
                        )
                    modified = [test_name, test_passed, screenshot_passed, last_ran, delete_button]
                    retVal.push(modified)
                }
                updateTable('tests', retVal);
            }
        };

        var url = "/suites/{{suite_id}}/data/";
        update(url);
    </script>
</head>

<body bgcolor="#D0D0D0">
    <center>
        <a href='/suites/{{suite_id}}/tests/add'>New Test</a><br>
        <a href='/suites/{{suite_id}}/edit'>Edit Suite</a><br>
        {% if tests %}
            <input type="button", value='run suite' onclick="sendRequest(
                '/suites/{{suite_id}}/run/'
            )"><br>
        {% endif %}
        <table border="1">
            <thead>
                <tr>
                    <td>tests</td>
                    <td>passed</td>
                    <td>screenshot passed</td>
                    <td>last ran</td>
                    <td>delete</td>
                </tr>
            </thead>
            <tbody id='tests'></tbody>
        </table>

        <h3>Copy Test</h3>
        <form method=post enctype=multipart/form-data action=/suites/{{suite_id}}/tests/copy/>
            <select name="test">
                <option value=0>Test Name</option>
                {% for test_name, test_id, passed, screenshot_passed, last_ran in tests %}
                    <option value="{{test_id}}">{{test_name}}</option>
                {% endfor %}
            </select>
            <select name="suite">
                <option value=0>Suite Name</option>
                {% for suite_name, suite_id, description, browser, width, height in suites %}
                    <option value="{{suite_id}}">{{suite_name}}</option>
                {% endfor %}
            </select>
            <input type=submit value=Copy>
        </form>
    </center>
</body>
