<head>
    <script src="/static/common.js"></script>
    <script>
        var http = new XMLHttpRequest();
        http.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var table_json = JSON.parse(this.responseText);
                retVal = []
                for (var i = 0; i < table_json.runs.length; i++) {
                    row = table_json.runs[i]
                    var run_link = build_link("/suites/{{suite_id}}/tests/{{test_id}}/runs/" + row[0], row[0]);
                    var start_time = build_span(row[1]);
                    var end_time = build_span(row[2]);
                    var passed = build_span(row[3]);
                    var screenshot_passed = build_span(row[4]);
                    modified = [run_link, start_time, end_time, passed, screenshot_passed]
                    retVal.push(modified)
                }
                updateTable('runs', retVal);
            }
        };
        var url = "/suites/{{suite_id}}/tests/{{test_id}}/data/";
        update(url);
    </script>
</head>

<body bgcolor="#D0D0D0">
    <center>
        <table border="1">
            {% if steps %}
                <input type="button" value='run test' onclick="sendRequest(
                    '/suites/{{suite_id}}/tests/{{test_id}}/run/'
                )"><br>
            {% endif %}
            <a href="/suites/{{suite_id}}/tests/{{test_id}}/edit/">edit test</a>

            <thead>
                <tr>
                    <td>Action</td>
                    <td>Arguments</td>
                    <td>Take Screenshot</td>
                    <td>Diff Threshold</td>
                </tr>
            </thead>
            <tbody>
                {% for action, optional, args, screenshot, screenshot_name, threshold in steps %}
                    <tr>
                        <td>{{ action }}</td>
                        <td>{{ args }}</td>
                        <td>{{ screenshot }}</td>
                        <td>{{ threshold }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <H3>Previous Runs</H3>
        <table border="1">
            <thead>
                <tr>
                    <td>run_id</td>
                    <td>start</td>
                    <td>end</td>
                    <td>passed</td>
                    <td>screenshot_passed</td>
                </tr>
            </thead>
            <tbody id=runs> </tbody>
        </table>
    </center>
</body>
