<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>`
    <script>
        function make_step_row(row){
            $row = $('<tr/>');
            $row.append($('<td/>').text(row.action))
            $row.append($('<td/>').text(row.arguments))
            $row.append($('<td/>').text(row.screenshot))
            $row.append($('<td/>').text(row.threshold))
            return $row
        }

        function make_run_row(row){
            $row = $('<tr/>');
            $row.append($('<td/>').html($('<a/>')
                .attr('href', '/suites/{{suite_id}}/tests/{{test_id}}/runs/'+row.id)
                .text(row.start)))
            $row.append($('<td/>').text(row.end))
            $row.append($('<td/>').text(row.passed))
            $row.append($('<td/>').text(row.screenshot_passed))
            return $row
        }

        function make_table(data, id, make_row) {
            $table = $('<tbody>').attr("id", id)
            data.forEach(function(row) {
                $table.append(make_row(row))
            })
            return $table
        }

        function update() {
            $.get("/suites/{{suite_id}}/tests/{{test_id}}/data/", function(data) {
                $('#steps').replaceWith(make_table(data.steps, "steps", make_step_row));
                $('#runs').replaceWith(make_table(data.runs, "runs", make_run_row));
            })
            setTimeout(update, 30000)
        }
        update()

    </script>
</head>

<body bgcolor="#D0D0D0">
    <center>
        <table border="1">
            {% if steps %}
                <input type="button" value='run test'
                 onclick="$.get('/suites/{{suite_id}}/tests/{{test_id}}/run/'); update()">
                <br>
            {% endif %}
            <a href="/suites/{{suite_id}}/tests/{{test_id}}/edit/">edit test</a>

            <thead>
                <tr>
                    <td>Action</td>
                    <td>Arguments</td>
                    <td>Take Screenshot</td>
                    <td>Diff Threshold</td>
                </tr>
            </thead>
            <tbody id="steps"> </tbody>
        </table>

        <H3>Previous Runs</H3>
        <table border="1">
            <thead>
                <tr>
                    <td>start</td>
                    <td>end</td>
                    <td>passed</td>
                    <td>screenshot_passed</td>
                </tr>
            </thead>
            <tbody id=runs> </tbody>
        </table>
    </center>
</body>
