<head>
</head>
<body bgcolor="#D0D0D0">
    <center>
        <div id="StepTableDiv">
            <form method=post enctype=multipart/form-data
             onsubmit="activateAll()" action="{{ url_for('post_edit_suite', suite_id=suite_id) }}">
                <table id="StepTable" border="1">
                    <thead>
                        <tr>
                            <td>Suite Name</td>
                            <td>Description</td>
                            <td>Browser</td>
                            <td>width</td>
                            <td>height</td>
                        </tr>
                    </thead>
                    <tbody>
                        <td><input name="suitename" value="{{suite_name}}"></td>
                        <td>
                            <textarea name="description" cols="30">{{description}}</textarea>
                        </td>
                        <td>
                            <select name="browser">
                                <option value="chrome">Chrome</option>
                                <option value="firefox"
                                {% if browser == 'firefox' %} selected {% endif %}>Firefox</option>
                            </select>
                        </td>
                        <td>
                            <input name="width" value="{{width}}">
                        </td>
                        <td>
                            <input name="height" value="{{height}}">
                        </td>
                    </tbody>
                </table>
                <br>
                <table id="StepTable" border="1">
                    <thead>
                        <tr>
                            <td>scheduled</td>
                            <td>interval</td>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <input type="checkbox" name="scheduled"
                            {% if scheduled %} checked {% endif %}
                            value="scheduled" />
                        </td>
                        <td>
                            <input name="interval" value="{{interval}}" placeholder="minutes">
                        </td>
                    </tr>
                </table>
                <br>
                <input type=submit value=Submit >
            </form>
        </div>
    </center>
</body>
