<head>
</head>
<body bgcolor="#D0D0D0">
    <center>
        <div id="StepTableDiv">
            <form method=post enctype=multipart/form-data onsubmit="activateAll()">
                <table id="StepTable" border="1">
                    <thead>
                        <tr>
                            <td>Step Number</td>
                            <td>Action</td>
                            <td>Arguments</td>
                            <td>Take Screenshot</td>
                            <td>Screenshot Name</td>
                            <td>Threshold</td>
                            <td>Add Row Below</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stepnumber, action, args, screenshot, screenshot_name, threshold in steps %}
                            <tr>
                                <td>{{stepnumber}}</td>
                                <td>
                                    <select name="action">
                                        <option value="visit">Visit</option>
                                        <option value="click"
                                         {% if action == 'click' %} selected {% endif %}>Click</option>
                                        <option value="input" 
                                         {% if action == 'input' %} selected {% endif %}>Input</option>
                                        <option value="sleep"
                                         {% if action == 'sleep' %} selected {% endif %}>Sleep</option>
                                        <option value="refresh"
                                         {% if action == 'refresh' %} selected {% endif %}>Refresh</option>
                                        <option value="execute"
                                         {% if action == 'execute' %} selected {% endif %}>Execute Javascript</option>
                                        <option value="assert"
                                         {% if action == 'assert' %} selected {% endif %}>Assert Exists</option>
                                    </select>
                                </td>
                                <td><input size=40 type="text" name="arguments"
                                           placeholder="arguments" value="{{args}}"/></td>
                                <td><input type="checkbox" name="screenshot"
                                           {% if screenshot %} checked {% endif %}
                                           value="{{stepnumber}}" /></td>
                                <td><input size=40 type="text" name="screenshot_name"
                                           placeholder="screenshot name" value="{{screenshot_name}}"/></td>
                                <td><input size=40 type="text" name="threshold"
                                           placeholder="diff threshold" value="{{threshold}}"/></td>
                                <td><input type="button" id="AddRowButton"
                                           value="New Row Below" onclick="insRow(this)"/></td>
                                <td><input type="button" id="DelRowButton"
                                           value="Delete" onclick="deleteRow(this)"/></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <input type=submit value=Submit >
            </form>
        </div>
    <script src="/static/addrows.js"></script>
    </center>
</body>
