<head>
    <link rel="stylesheet" type="text/css" href="/static/hindcss.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/edit_test.js"></script>
    <script>
        update({{suite_id}}, {{test_id}})
    </script>
</head>
<body bgcolor="#D0D0D0">
    <div id="header">
        <p id="name"><a href="/">H i n d S i t e</a></p>
            <ul id="nav1">
                <li><a href="/">Suites</a></li>
                <li ><a href="placeholder/IHaventMadeThisPage.html">About</a></li>
            </ul>
        <center><img src="/static/images/logobase.png" id="logo" /></center>
    </div>
    <div id="main">
        <form method=post enctype=multipart/form-data
         action="{{ url_for('post_edit_test', suite_id=suite_id, test_id=test_id) }}">
            <span>
                Name:
                <input size=40 type="text" name="name" placeholder="test name" value="{{name}}"/>
            </span>
            <center>
            <div id="suites"> </div>
            </center>
            <input type=submit value=Submit >
        </form>
    </div>
    <div class='footer'>
        <div id="copyright">HindSite by Nate Falke, Codi Shanks 2017</p>
    </div>
</body>
