<body bgcolor="#D0D0D0">
    <center>
        <form method=post enctype=multipart/form-data action="{{ url_for('post_add_suite') }}">
            <table id="SuiteTable" border="1">
                <thead>
                    <tr>
                        <td>Suite Name</td>
                        <td>Description</td>
                        <td>Browser</td>
                        <td>width</td>
                        <td>height</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input name="suitename"></td>
                        <td>
                            <textarea name="description" cols="30"></textarea>
                        </td>
                        <td>
                            <select name="browser">
                                <option value="chrome">Chrome</option>
                                <option value="firefox">Firefox</option>
                            </select>
                        </td>
                        <td>
                            <input name="width" value=1920>
                        </td>
                        <td>
                            <input name="height" value=1080>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type=submit value=Submit >
        </form>
    </center>
</body>
