/*wooo main CSS*/
/*#0d1b11 = dgreen, #226034 = lgreen, #cfd8d0 = lgrey, #aaaaaa = dgrey #bec2be = newgrey*/
/*things to fix: delete button in top corner, please capitalize browser names, button image, inline spacing*/
body {
	background-color: #cfd8d0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

#main {
	text-align: center;
	clear: both;
	position: relative;
	top: 80px;
	min-width: 500px;
}

#header {
	background-color: #0d1b11;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	color: #cfd8d0;
	font-weight: bold;
	min-width: 500px;
}

#logo {
	width: 80px;
}

#name {
	position: absolute;
	padding: 0;
	font-size: 25px;
	top: -15px;
	left: 0;
	padding-left: 10px;
}

#name a:visited, #name a {
	color: #9dc0a7;
}

#name a:hover {
	color: #226034;
}

#nav1 {
	position: absolute;
	list-style-type: none;
	padding: 0;
	font-size: 25px;
	top: -15px;
	right: 0;
	
}
#nav1 li {
	display: inline;
	padding-right: 10px;
}

#nav1 a, #nav1 a:visited {
	color: #cfd8d0
}

#nav1 a:hover {
	color: #bec2be;
}

#suiteinfo {
	display: inline-block;
}

#suiteinfo {
	background-color: #aaaaaa;
}

.suite {
    text-align: center;
	background-color: #bec2be;
    width: 300px;
    padding: 25px;
    margin: 25px;
	border-radius: 5px;
}

.linline {
	display: inline-block;
	padding-right: 15px;
}
.rinline {
	display: inline-block;
	padding-left: 15px;
}

.deleteb {
	float: right;
	/*background-image: url(Images/X.png);*/
}

.suitename, .suitename:visited {
	font-size: 20px;
	padding-bottom: 50px;
	color: #226034;
	text-align: center;
	float: clear;
}
.suitename:hover {
	color: #0d1b11;
}

#newsuite, #newsuite:visited {
	color: #226034;
	font-weight: bold;
	font-size: 20px;
}
#newsuite:hover {
	color: #0d1b11;
}

#lastran {
	font-size: 13px;
	padding-bottom: 10px;
}

#copys {
	color: #226034;
	font-weight: bold;
	font-size: 20px;
}
